.body-main .container-new3 {
  padding-left: 0;
  padding-right: 0;
}
.body-main .about-box .leftBoxs-wrap {
  position: fixed;
  width: 100%;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs {
  margin-top: 60px;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .leftBoxs-bg {
  width: 75px;
  padding: 10px 0;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .currentTitle {
  font-size: 18px;
  font-weight: bold;
  text-indent: 10px;
  color: #333;
  height: 23px;
  line-height: 23px;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .list-items .item {
  height: 18px;
  line-height: 18px;
  font-size: 14px;
  text-indent: 6px;
  margin-top: 21px;
  cursor: pointer;
  border-left: 4px solid transparent;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .list-items .item a {
  color: #666;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .list-items .item a:hover {
  color: deepskyblue;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .list-items .active {
  border-left: 4px solid #7CBBFF;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .blue {
  color: #fff;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .blue .item a {
  color: #eee;
}
.body-main .about-box .leftBoxs-wrap .leftBoxs .blue .item a:hover {
  color: deepskyblue;
}
.body-main .about-box .container-new {
  max-width: 760px;
}
.body-main .about-box .container-new2 {
  padding-left: 0;
  padding-right: 0;
}
.body-main .about-box .part .title-box {
  font-weight: bold;
  text-align: center;
}
.body-main .about-box .part .title-box .chinese .text {
  display: inline-block;
  font-size: 18px;
  font-family: MicrosoftYaHeiUI-Bold;
  color: #333;
  line-height: 25px;
  padding: 10px 24px;
  border-bottom: 2px solid #999;
}
.body-main .about-box .part .title-box .english .text {
  display: inline-block;
  font-size: 14px;
  font-family: Helvetica-Bold;
  color: #999;
  line-height: 17px;
  padding-top: 10px;
}
.body-main .about-box .part .join-title-box .chinese .text {
  color: #fff;
}
.body-main .about-box .part .join-title-box .english .text {
  color: #fff;
}
.body-main .about-box .introduction-box {
  padding-top: 50px;
}
.body-main .about-box .introduction-box .content-intro {
  padding-top: 30px;
  display: flex;
}
.body-main .about-box .introduction-box .content-intro .left .intro-img-box {
  width: 180px;
  height: 200px;
  background: url("../images/about/pc-intro.png") no-repeat;
  background-size: 100% 100%;
  margin-right: 60px;
}
.body-main .about-box .introduction-box .content-intro .right {
  flex-grow: 1;
}
.body-main .about-box .introduction-box .content-intro .right .desc {
  font-size: 14px;
  font-family: MicrosoftYaHeiUI;
  color: #666;
  line-height: 20px;
}
.body-main .about-box .introduction-box .content-intro .right .desc1 {
  padding-bottom: 18px;
}
.body-main .about-box .team-box {
  padding-top: 40px;
  padding-bottom: 50px;
}
.body-main .about-box .team-box .content-team {
  padding-top: 22px;
  overflow: hidden;
}
.body-main .about-box .team-box .content-team .team-item-wrap {
  float: left;
  width: 33.33333333333%;
  padding-top: 38px;
  display: flex;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box {
  width: 150px;
  text-align: center;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .ling {
  width: 100%;
  height: 170px;
  background: url("../images/about/ling-xing.png") no-repeat;
  background-size: 100% 100%;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .name {
  height: 23px;
  font-size: 18px;
  font-family: MicrosoftYaHeiUI;
  color: #666;
  line-height: 23px;
  margin: 10px 0;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box {
  font-size: 0;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box .contact-icon {
  width: 30px;
  height: 30px;
  margin-right: 20px;
}
.body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box .contact-icon:last-child {
  margin-right: 0;
}
.body-main .about-box .team-box .content-team .team-item-wrap:nth-child(3n+2) {
  justify-content: center;
}
.body-main .about-box .team-box .content-team .team-item-wrap:nth-child(3n) {
  justify-content: flex-end;
}
.body-main .about-box .join-box {
  padding-top: 30px;
  padding-bottom: 60px;
  background: linear-gradient(90deg, #120052, #1e037d, #120052);
}
.body-main .about-box .join-box .content-join {
  padding-top: 40px;
  font-size: 14px;
  font-weight: 200;
  font-family: MicrosoftYaHeiUI;
  color: #fff;
  line-height: 25px;
}
.body-main .about-box .join-box .content-join .top-info {
  padding-bottom: 60px;
}
.body-main .about-box .join-box .content-join .middle-info {
  overflow: hidden;
}
.body-main .about-box .join-box .content-join .middle-info .middle_item {
  min-height: 238px;
  width: 50%;
  float: left;
  padding-right: 76px;
}
.body-main .about-box .join-box .content-join .middle-info .middle_item .block {
  margin: 0 auto;
  width: 70px;
  height: 70px;
  margin-bottom: 33px;
  background-color: #D8D8D8;
}
.body-main .about-box .join-box .content-join .middle-info .middle_item .desc {
  font-size: 14px;
  font-family: MicrosoftYaHeiUI;
  color: #fff;
  line-height: 25px;
  text-align: justify;
}
.body-main .about-box .join-box .content-join .middle-info .middle_item:nth-child(2n) {
  padding-right: 0;
  padding-left: 60px;
}
.body-main .about-box .join-box .content-join .bottom-info {
  margin-top: -13px;
}
.body-main .about-box .bottom-part .info-box {
  font-weight: 200;
}
.body-main .about-box .bottom-part .info-box .title {
  font-weight: bold;
  height: 25px;
  font-size: 18px;
  font-family: MicrosoftYaHeiUI-Bold;
  color: #333333;
  line-height: 25px;
  margin-top: 80px;
  margin-bottom: 40px;
}
.body-main .about-box .bottom-part .info-box .desc-box {
  display: flex;
}
.body-main .about-box .bottom-part .info-box .desc-box .list-info {
  flex-grow: 1;
  padding-right: 30px;
  text-align: justify;
}
.body-main .about-box .bottom-part .info-box .desc-box .list-info .list-item {
  font-size: 14px;
  font-family: MicrosoftYaHeiUI;
  color: #666666;
  line-height: 25px;
}
.body-main .about-box .bottom-part .info-box .desc-box .blocks {
  margin: 0;
  flex-grow: 1;
  min-width: 325px!important;
  height: 250px;
  background-color: #eee;
}
.body-main .about-box .bottom-part .salary-box .title {
  text-align: center;
}
.body-main .about-box .bottom-part .salary-box .desc-box {
  display: flex;
}
.body-main .about-box .bottom-part .salary-box .desc-box .list-info {
  flex-grow: 1;
  padding-right: 0;
  padding-left: 53px;
}
.body-main .about-box .bottom-part .salary-box .desc-box .list-info .list-item {
  font-size: 14px;
  font-family: MicrosoftYaHeiUI;
  color: #666666;
  line-height: 25px;
}
.body-main .about-box .bottom-part .job-box .title {
  margin-top: 30px;
}
.body-main .about-box .bottom-part .job-box .infos {
  font-size: 14px;
  font-family: MicrosoftYaHeiUI;
  color: #666666;
  line-height: 25px;
}
.body-main .about-box .bottom-part .job-box .infos desc {
  font-size: 18px;
  font-family: MicrosoftYaHeiUI;
  color: #666666;
  line-height: 25px;
}
.body-main .about-box .bottom-part .job-box .infos .desc2 {
  padding-top: 16px;
  padding-bottom: 60px;
}
.body-main .about-box .bottom-part .job-box .infos .desc2 .email {
  color: #666666;
  border-bottom: 1px solid #666666;
}
@media screen and (min-width: 769px) {
  #blocks1 {
    display: block;
    min-width: 325px!important;
    height: 250px;
  }
  #blocks2 {
    display: none;
  }
  #job1 {
    display: block;
  }
  #job2 {
    display: none;
  }
  #tabControl {
    display: block;
  }
}
/*移动端*/
@media screen and (max-width: 768px) {
  #blocks1 {
    display: none;
  }
  #blocks2 {
    display: block;
    width: 180px;
    height: 120px;
    margin-top: 30px;
  }
  #job1 {
    display: none;
  }
  #job2 {
    display: block;
  }
  #tabControl {
    display: none;
  }
  .body-main .about-box {
    margin: 0 0;
  }
  .body-main .about-box .introduction-box {
    padding-top: 20px;
  }
  .body-main .about-box .introduction-box .content-intro {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
  }
  .body-main .about-box .introduction-box .content-intro .left .intro-img-box {
    width: 100%;
    height: 160px;
    background: url("../images/about/mobile-intro.png") no-repeat;
    background-size: 100% 100%;
    margin-right: 0;
  }
  .body-main .about-box .introduction-box .content-intro .right {
    padding: 0 30px;
    padding-top: 20px;
  }
  .body-main .about-box .introduction-box .content-intro .right .desc {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #666;
    line-height: 20px;
  }
  .body-main .about-box .introduction-box .content-intro .right .desc1 {
    padding-bottom: 18px;
  }
  .body-main .about-box .team-box {
    padding-top: 20px;
    padding-bottom: 60px;
  }
  .body-main .about-box .team-box .content-team {
    overflow: hidden;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap {
    float: left;
    width: 100%;
    padding-top: 90px;
    display: flex;
    justify-content: center;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box {
    width: 150px;
    text-align: center;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .ling {
    width: 100%;
    height: 170px;
    background: url("../images/about/ling-xing.png") no-repeat;
    background-size: 100% 100%;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .name {
    height: 23px;
    font-size: 18px;
    font-family: MicrosoftYaHeiUI;
    color: #666;
    line-height: 23px;
    margin: 10px 0;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box {
    font-size: 0;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box .contact-icon {
    width: 30px;
    height: 30px;
    margin-right: 20px;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap .team-item-box .icon-box .contact-icon:last-child {
    margin-right: 0;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap:first-child {
    padding-top: 38px;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap:nth-child(3n+2) {
    justify-content: center;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap:nth-child(3n) {
    justify-content: center;
  }
  .body-main .about-box .join-box {
    padding-top: 30px;
    padding-bottom: 30px;
    background: linear-gradient(90deg, #120052, #1e037d, #120052);
  }
  .body-main .about-box .join-box .content-join {
    padding: 0 30px;
    padding-top: 30px;
    font-size: 14px;
    font-weight: 200;
    font-family: MicrosoftYaHeiUI;
    color: #fff;
    line-height: 25px;
  }
  .body-main .about-box .join-box .content-join .top-info {
    padding-bottom: 0;
  }
  .body-main .about-box .join-box .content-join .middle-info {
    overflow: hidden;
  }
  .body-main .about-box .join-box .content-join .middle-info .middle_item {
    padding-top: 20px;
    min-height: inherit;
    width: 100%;
    float: left;
    padding-right: 0!important;
    padding-left: 0!important;
  }
  .body-main .about-box .join-box .content-join .middle-info .middle_item .block {
    margin: 0 auto;
    width: 180px;
    height: 120px;
    margin-bottom: 20px;
    background-color: #D8D8D8;
  }
  .body-main .about-box .join-box .content-join .middle-info .middle_item .desc {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #fff;
    line-height: 25px;
    text-align: justify;
  }
  .body-main .about-box .join-box .content-join .bottom-info {
    margin-top: 30px;
  }
  .body-main .about-box .bottom-part {
    padding: 0 30px;
  }
  .body-main .about-box .bottom-part .info-box {
    font-weight: 200;
  }
  .body-main .about-box .bottom-part .info-box .title {
    font-weight: bold;
    height: 25px;
    font-size: 18px;
    font-family: PingFangSC-Semibold;
    color: #333333;
    line-height: 25px;
    margin-top: 30px;
    margin-bottom: 20px;
  }
  .body-main .about-box .bottom-part .info-box .desc-box {
    display: flex;
    flex-direction: column;
  }
  .body-main .about-box .bottom-part .info-box .desc-box .list-info {
    flex-grow: 1;
    padding-right: 0;
  }
  .body-main .about-box .bottom-part .info-box .desc-box .list-info .list-item {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #666666;
    line-height: 25px;
  }
  .body-main .about-box .bottom-part .info-box .desc-box .blocks {
    margin: 0 auto;
    min-width: 180px!important;
    width: 180px;
    height: 120px;
    margin-top: 30px;
    background-color: #eee;
  }
  .body-main .about-box .bottom-part .salary-box .title {
    text-align: left;
  }
  .body-main .about-box .bottom-part .salary-box .desc-box {
    display: flex;
  }
  .body-main .about-box .bottom-part .salary-box .desc-box .list-info {
    flex-grow: 1;
    padding-right: 0;
    padding-left: 0;
  }
  .body-main .about-box .bottom-part .salary-box .desc-box .list-info .list-item {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #666666;
    line-height: 25px;
  }
  .body-main .about-box .bottom-part .salary-box .desc-box .blocks {
    min-width: inherit!important;
    height: 120px;
    margin-top: 30px;
    background-color: #eee;
  }
  .body-main .about-box .bottom-part .job-box .title {
    margin-top: 30px;
  }
  .body-main .about-box .bottom-part .job-box .infos desc {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #666666;
    line-height: 25px;
  }
  .body-main .about-box .bottom-part .job-box .infos .desc2 {
    padding-top: 16px;
    padding-bottom: 60px;
  }
  .body-main .about-box .bottom-part .job-box .infos .desc2 .email {
    color: #666666;
    border-bottom: 1px solid #666666;
  }
  .body-main .about-box .bottom-part .job-box .desc-box .mobile-infos {
    font-size: 14px;
    font-family: MicrosoftYaHeiUI;
    color: #666666;
    line-height: 25px;
  }
  .body-main .about-box .bottom-part .job-box .desc-box .mobile-infos .desc2 {
    padding-top: 30px;
    padding-bottom: 40px;
  }
  .body-main .about-box .team-box .content-team .team-item-wrap-mobile {
    display: none;
  }
}
