.blog-pc{background: #fff;}
.blog-pc-content{
  width:1100px;
  margin:0 auto;
}
h1{
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    padding-top:60px;color:#333333;font-size:20px;margin:0 auto 10px;width:40px;}
.line{
    width:148px;height:2px;background:#999999;margin:0 auto 10px;}
.english{
    color:#999999;
    font-family: 'Helvetica';
    font-size: 14px;
    width:110px;
    margin:0 auto;
}

.blog-list{margin-top:60px;}
.blog-list li{ 
    margin:0 100px 40px 0;
    padding:10px 30px 10px 10px;
    float:left; 
    border-radius: 6px;
    width:470px;
    height:210px;
    overflow: hidden;
    box-shadow: 1px 1px 3px #666;
     
     }

     .blog-list li:nth-child(even){
        margin:0 0 40px 0;
     }
.blog-list li img{
    display: block;
    overflow: hidden;
    float: left;
    margin:-20px 30px 0 0;
}
.blog-list .date{
    color:#9933FF;
    font-size: 14px;
    font-family: 'DINAlternate';
    margin-bottom: 10px;
    font-weight: bold;
}
.blog-list .tt{
    color:#666;
    font-size: 16px;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    margin-bottom: 10px;
}
.blog-list .desc {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 60px;
    color:#666;
    font-size: 14px;
    font-family: 'Microsoft YaHei';
    margin-bottom: 28px;
}
.blog-list .link{
    display: block;
    float: right;
    background: ;
    background:linear-gradient(90deg,rgba(102,0,255,1),rgba(153,51,255,1));
    width:80px;height:26px;border-radius: 10px;
    font-size: 10px;
    color: #fff;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    line-height: 26px;
    text-align: center;
    cursor: pointer;
}

.blog-list .link:hover{
    background:linear-gradient(-90deg,rgba(102,0,255,1),rgba(153,51,255,1));
}
.page-wrap{position: relative;margin-bottom: 100px;margin-left:100px;}
.pagination{
    font-size: 16px;
    color:#999999;
    width: 450px;
    position: absolute;
    left:50%;
}
.pagination .select-wrap{border-bottom:1px solid #000;margin:0;}
.pagination select {
    border:none;
    background: none;
    /*appearance:none;
-moz-appearance:none;
-webkit-appearance:none;*/
}
.pagination span{margin: 0 20px;}
.pagination a{color:#999;cursor: pointer;}
.pagination a.not{color:#333;}
.page-mobile{display: none;}




html {font-size: 625%; /*100 ÷ 16 × 100% = 625%*/}
@media screen and (min-width:360px) and (max-width:374px) and (orientation:portrait) {
    html { font-size: 703%; }
}
@media screen and (min-width:375px) and (max-width:383px) and (orientation:portrait) {
    html { font-size: 732.4%; }
}
@media screen and (min-width:384px) and (max-width:399px) and (orientation:portrait) {
    html { font-size: 750%; }
}
@media screen and (min-width:400px) and (max-width:413px) and (orientation:portrait) {
    html { font-size: 781.25%; }
}
@media screen and (min-width:414px) and (max-width:431px) and (orientation:portrait){
    html { font-size: 808.6%; }
}
@media screen and (min-width:432px) and (max-width:479px) and (orientation:portrait){
    html { font-size: 843.75%; }
}

@media screen and (max-width: 960px) {
    
    .blog-pc{background: #fff;}
.blog-pc-content{
  width:100%;
}
h1{
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    margin:0.3rem auto 0 auto;
    padding-top:0.06rem;color:#333333;font-size:0.20rem;width:0.40rem;}
.line{
    width:1.48rem;height:0.02rem;background:#999999;margin:0.1rem auto;}
.english{
    color:#999999;
    font-family: 'Helvetica';
    font-: 0.14rem;
    margin:0 auto;
}

.blog-list{margin-top:0.30rem;}
.blog-list li{ 
    margin:0 auto 0.20rem auto;
    padding:0 0.1rem 0 0;
    border-radius: 6px;
    width:84%;
    overflow: hidden;
    height:auto;
    box-shadow: 1px 1px 3px #666;
     float:none;
     }
.blog-list li img{
    display: block;
    overflow: hidden;
    float: left;
    margin:0 0.20rem 0 0;
    width:1.12rem;
    height:1.17rem;
}
.blog-list li:nth-child(even) {
    margin: 0 auto 0.20rem auto;
}
.blog-list .date{
    color:#9933FF;
    font-size: 0.1rem;
    font-family: 'DINAlternate';
    margin-bottom: 0.10rem;
    line-height: 0.24rem;
    font-weight: bold;
}
.blog-list .tt{
    color:#666;
    font-size: 0.12rem;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    margin-bottom: 0.15rem;
}
.blog-list .desc {
    display: none;
}
.blog-list .link{
    display: block;
    float: right;
    background: linear-gradient(#6600FF, #9933FF);
    background: -webkit-linear-gradient(left, #6600FF , #9933FF); /* Safari 5.1 - 6.0 */
    background: -o-linear-gradient(right, #6600FF, #9933FF); /* Opera 11.1 - 12.0 */
    background: -moz-linear-gradient(right, #6600FF, #9933FF); /* Firefox 3.6 - 15 */
    background: linear-gradient(to right, #6600FF , #9933FF); /* 标准的语法 */

    width:0.80rem;height:0.26rem;border-radius: 0.13rem;
    font-size: 0.10rem;
    color: #fff;
    font-family: 'Microsoft YaHei';
    font-weight: bold;
    line-height: 0.26rem;
    text-align: center;
}


.pagination{
    font-size: 0.16rem;
    color:#999999;
    float:right;
}
.pagination span{margin: 0 0.20rem;}
.pagination a{color:#999;cursor: pointer;}
.pagination a.not{color:#333;}

.page-wrap{width:84%;margin: 0 auto;}
.page-left,.page-right{
    border:1px solid #7CBBFF;
    color:#7CBBFF;
    font-size: 0.1rem;
    text-align: center;
    display: block;
    width: 0.6rem;
    height:0.2rem;
    line-height: 0.2rem;
    border-radius: 0.1rem;
    margin-bottom:0.3rem;
}
.page-left a,.page-right a{
    color: #7CBBFF;
}
.page-left{float:left;}
.page-right{float:right;}
.page-pc{display: none;}
.page-mobile{display: block;}

}

















