body {
  padding-top: 0;
}
.header {
  width: 100%;
  z-index: 999;
  background: #0c1824;
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.5);
}
.header.top {
  background: linear-gradient(90deg, #6600ff, #9933ff);
  box-shadow: 0px 0px 1px 0px rgba(255, 255, 255, 0.5);
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
}
.header .lange {
  display: inline-block;
  font-size: 12px;
  color: #fff;
  margin-left: 10px;
}
.header .lange a {
  color: #fff;
}
.header .lange em {
  margin-left: 2px;
  margin-right: 2px;
}
.banner-box {
  background: #161616 url(../images/index/bannerV2.jpg) bottom center no-repeat;
  width: 100%;
  height: 810px;
  padding-top: 30px;
  background-attachment: fixed;
  background-position: center bottom;
  background-size: cover;
  display: block;
  position: relative;
  text-align: center;
}
.banner-box .ph-box {
  display: none;
}
.banner-box .txt-box {
  margin-top: 180px;
  color: #fff;
}
.banner-box h3 {
  font-size: 44px;
  font-weight: 700;
  line-height: 1;
}
.banner-box p {
  font-size: 18px;
  line-height: 1;
  margin-top: 40px;
  margin-bottom: 40px;
}
.banner-box h4 {
  font-size: 24px;
  line-height: 1;
}
.banner-box h4 em {
  text-decoration: underline;
}
.banner-box .nub-box {
  height: 24px;
}
.session_1 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: linear-gradient(90deg, #1e037d, #120052);
}
.session_1 .all-item {
  margin: 0 auto;
  margin-top: 30px;
}
.session_1 .all-item .item-box {
  display: none;
  width: 650px;
  height: 470px;
  margin: 0 auto;
  text-align: center;
}
.session_1 .all-item .item-box.active {
  display: block;
}
.session_1 .all-item .item-box img {
  width: 650px;
  height: 370px;
  border-radius: 15px;
}
.session_1 .all-item .item-box .info {
  text-align: center;
  font-size: 14px;
  color: #ccc;
  margin-top: 60px;
  margin-bottom: 30px;
}
.session_1 .tab-box {
  text-align: center;
}
.session_1 .tab-box .item-box {
  display: inline-block;
  text-align: center;
  width: 100px;
}
.session_1 .tab-box .item-box.active .img-box img {
  border: 2px solid #7cbbff;
}
.session_1 .tab-box .item-box.active p {
  color: #7CBBFF;
}
.session_1 .tab-box .item-box .img-box {
  display: inline-block;
  width: 40px;
  height: 40px;
}
.session_1 .tab-box .item-box .img-box img {
  width: 100%;
  height: 100%;
  border-radius: 4px;
}
.session_1 .tab-box .item-box p {
  margin-top: 20px;
  font-size: 14px;
  color: #ffffff;
}
.title-box {
  text-align: center;
}
.title-box h3 {
  font-size: 20px;
  color: #ffffff;
  line-height: 25px;
  line-height: 1;
  font-weight: 700;
}
.title-box p {
  color: #fff;
  font-size: 14px;
  line-height: 1;
}
.title-box p span {
  display: inline-block;
  width: 148px;
  border-top: 1px solid #ccc;
  margin-top: 10px;
  padding-top: 10px;
  color: #ccc;
}
.session_2 {
  text-align: center;
  padding-top: 60px;
  padding-bottom: 60px;
}
.session_2 .title-box {
  margin-bottom: 60px;
}
.session_2 .title-box h3 {
  color: #333;
}
.session_2 .title-box p {
  border-color: #999999;
}
.session_2 .title-box p span {
  color: #999;
}
.session_2 .txt-box {
  display: inline-block;
  vertical-align: middle;
  margin-right: 150px;
}
.session_2 .txt-box dl {
  display: block;
  width: 400px;
  padding-left: 50px;
  box-sizing: border-box;
  padding-top: 20px;
  padding-bottom: 20px;
  border-left: 1px solid rgba(153, 51, 255, 0.2);
  text-align: left;
}
.session_2 .txt-box dl dt {
  position: relative;
  margin-bottom: 14px;
  font-size: 16px;
  font-weight: 700;
  color: #666;
}
.session_2 .txt-box dl dt:before {
  position: absolute;
  left: -58px;
  top: 4px;
  width: 15px;
  height: 15px;
  content: '';
  background: url(../images/index/icon_1.png);
  background-size: 100% 100%;
}
.session_2 .txt-box dl dd {
  font-size: 14px;
  color: #999;
}
.session_2 .img-box {
  display: inline-block;
  vertical-align: middle;
  text-align: right;
}
.session_3 {
  padding-top: 60px;
  padding-bottom: 60px;
  background: #110052 url(../images/index/bg.jpg) center center no-repeat;
}
.session_3 .item-box {
  width: 700px;
  margin: 0 auto;
  border-bottom: 2px solid rgba(255, 255, 255, 0.3);
  padding-top: 30px;
  padding-bottom: 30px;
  font-size: 0;
}
.session_3 .item-box:last-child {
  border: none;
}
.session_3 .item-box .img-box {
  width: 145px;
}
.session_3 .item-box .img-box p {
  font-size: 18px;
  color: #fff;
  margin-top: 10px;
}
.session_3 .item-box > p {
  float: right;
  vertical-align: middle;
  width: 485px;
  color: #fff;
  font-size: 18px;
  line-height: 1.5;
  margin-left: 70px;
  margin-top: 20px;
}
.session_3 .item-box.item_r > p {
  margin-right: 70px;
  margin-left: 0;
}
.session_4 {
  padding-top: 60px;
  padding-bottom: 100px;
}
.session_4 .title-box {
  margin-bottom: 60px;
}
.session_4 .title-box h3 {
  color: #333;
}
.session_4 .title-box p {
  border-color: #999999;
}
.session_4 .title-box p span {
  color: #999;
}
.session_4 .row {
  margin-left: -8px;
  margin-right: -8px;
}
.session_4 .join-box {
  height: 178px;
}
.session_4 .col-md-2 {
  padding-left: 8px;
  padding-right: 8px;
  margin-bottom: 16px;
}
.session_4 .img-box {
  width: 100%;
  height: 80px;
  border: 1px solid #cccccc;
  text-align: center;
  overflow: hidden;
}
.session_4 .img-box img {
  height: 80px;
  width: auto;
}
.offer {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
}
.offer .icon {
  position: relative;
  z-index: 999;
  cursor: pointer;
}
.form-container {
  padding-top: 60px;
  width: 100%;
  padding-bottom: 50px;
  background: url(../images/index/bg_2.png) center center no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
}
.form-container .from-box {
  position: relative;
  width: 360px;
  margin: 0 auto;
}
.form-container .title {
  text-align: center;
  margin-bottom: 25px;
}
.form-container .title em {
  font-size: 18px;
  color: #fff;
  padding-bottom: 8px;
  margin-bottom: 8px;
  display: inline-block;
  padding-left: 20px;
  padding-right: 20px;
  border-bottom: 1px solid #fff;
}
.form-container .title p {
  font-size: 12px;
  color: #CCCCCC;
}
.form-container .btn-box {
  font-size: 0;
  padding-top: 30px;
}
.form-container .btn-box .btn {
  display: inline-block;
  font-size: 12px;
  width: 100px;
  height: 36px;
  border-radius: 4px;
  border: 1px solid #fff;
  margin-left: 10px;
  margin-right: 10px;
  line-height: 20px;
  color: #fff;
}
.form-container .btn-box .btn:hover {
  background: #9933ff;
  color: #fff;
  border-color: #9933ff;
}
.form-container .input-box {
  position: relative;
  width: 100%;
  height: 58px;
  padding-top: 18px;
  box-sizing: border-box;
  overflow: hidden;
  transition: all 1s;
}
.form-container .input-box input {
  position: absolute;
  top: 18px;
  left: 0;
  width: 100%;
  border: none;
  height: 40px;
  line-height: 40px;
  background: transparent;
  z-index: 2;
  font-size: 14px;
}
.form-container .input-box label {
  position: absolute;
  top: 18px;
  left: 0px;
  height: 40px;
  line-height: 40px;
  z-index: 1;
  color: #CCCCCC;
  font-size: 14px;
  width: 100%;
}
.form-container .input-box label span {
  position: absolute;
  left: 0;
  top: 0px;
  transition: all 0.3s;
}
.form-container .input-box label:before {
  position: absolute;
  content: '';
  width: 100%;
  height: 1px;
  background: #ccc;
  bottom: 0;
  left: 0;
  right: 0;
}
.form-container .input-box label:after {
  position: absolute;
  content: '';
  width: 100%;
  height: 2px;
  background: #9933FF;
  bottom: 0;
  left: 0;
  right: 0;
  transform: translate3d(-100%, 0, 0);
  transition: transform 0.3s;
}
.form-container .input-box.active label:after {
  transform: translate3d(0, 0, 0);
}
.form-container .input-box.active label span {
  font-size: 12px;
  top: -18px;
}
@media (max-width: 560px) {
  .title-box h3 {
    font-size: 18px;
  }
  .title-box p {
    font-size: 13px;
  }
  .title-box p span {
    margin-top: 5px;
    padding-top: 5px;
  }
  .offer {
    display: none;
  }
  .from-box {
    position: relative;
    width: 100%!important;
    top: 0;
    left: 0;
    opacity: 1;
    width: 100%;
    height: 400px;
    padding-top: 10px;
    box-shadow: none!important;
    background: #120052;
    transform: translateY(0);
    border-radius: 0;
    padding-left: 10%;
    padding-right: 10%;
    z-index: 1;
  }
  .from-box .title {
    margin-top: 0;
    color: #fff;
  }
  .from-box .btn-box {
    padding-top: 30px;
    text-align: center;
  }
  .banner-box {
    position: relative;
    height: 100vh;
  }
  .banner-box h3 {
    font-size: 24px;
  }
  .banner-box p {
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: 13px;
    line-height: 1.6;
  }
  .banner-box h4 {
    font-size: 18px;
  }
  .banner-box .pc-box {
    display: none;
  }
  .banner-box .ph-box {
    display: block;
  }
  .banner-box .banner-bottom {
    position: absolute;
    width: 100%;
    left: 0;
    bottom: 20px;
  }
  .banner-box .banner-bottom p {
    font-size: 13px;
  }
  .banner-box .banner-bottom img {
    width: 28px;
    height: 28px;
  }
  .tab-box {
    display: none;
  }
  .session_1 .all-item .item-box {
    display: block;
    width: 100%;
    height: auto;
  }
  .session_1 .all-item .item-box img {
    width: 100%;
    height: auto;
    border-radius: 0;
  }
  .session_1 .all-item .item-box .info {
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 12px;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    line-height: 1.6;
  }
  .session_2 {
    padding-top: 40px;
  }
  .session_2 .title-box {
    margin-bottom: 30px;
  }
  .session_2 .txt-box {
    width: 100%;
    box-sizing: border-box;
    display: block;
    margin: 0;
  }
  .session_2 .txt-box dl {
    width: 100%;
    border: none;
    padding-left: 0;
    text-align: center;
  }
  .session_2 .txt-box dl dt:before {
    display: none;
  }
  .session_2 .img-box {
    margin-top: 20px;
  }
  .session_2 .img-box img {
    width: 100%;
  }
  .session_3 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .session_3 .item-box {
    width: 100%;
    padding-left: 15px;
    padding-right: 15px;
    box-sizing: border-box;
    border-bottom: none;
  }
  .session_3 .item-box .img-box {
    float: none;
    display: block;
    width: 100%;
    text-align: center;
  }
  .session_3 .item-box .img-box img {
    height: 30px;
    width: auto;
  }
  .session_3 .item-box .img-box p {
    font-size: 14px;
    margin-bottom: 10px;
    margin-top: 10px;
  }
  .session_3 .item-box p {
    float: none;
    display: block;
    margin: 0;
    width: 100%;
    font-size: 12px;
    color: #eee;
    line-height: 1.6;
  }
  .session_4 {
    padding-top: 40px;
    padding-bottom: 40px;
  }
  .session_4 .title-box {
    margin-bottom: 20px;
  }
  .session_4 .join-box {
    height: 370px;
  }
}
.article-img {
  width: 30% !important;
}