.body-main {
    width: 100%;
}
.bm-title {
    width: 100%;
    text-align: center;
    overflow: auto;
    margin: 25px 0 15px;
    padding: 0 12px;
}
.bm-title h2 {
    display: inline-block;
    font-size: 18px;
    line-height: 30px;
    font-weight: bold;
    margin-bottom: 10px;
}
.bm-title .date {
    color: #999999;
    font-size: 13px;
}
.bm-cont {
    padding: 0 12px;
    text-align: center;
}
.bm-cont p {
    font-size: 14px;
    color: #666;
    line-height: 28px;
    text-align: justify;
    margin-bottom: 20px;
}
.bm-cont p img {
    width: 100%;
    vertical-align: middle;
    background: #e8e8e8;
    text-align: center;
    display: block;
    margin: 10px auto;
}
.bm-btn-group {
    padding: 0 12px;
    margin-bottom: 35px;
}
.bm-btn-group .bm-link {
    font-size: 14px;
    color: #9933FF;
    vertical-align: middle;
}
.bm-btn-group .bm-btn {
    display: inline-block;
    vertical-align: middle;
    padding: 7px 25px;
    cursor: pointer;
    background: #9933FF;
    color: #fff;
    font-size: 13px;
    border-radius: 20px;
    background-image: linear-gradient(-90deg, #6600FF 0%, #9933FF 100%);
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}
.bm-btn-group .bm-btn em {
    display: inline-block;
    width: 16px;
    height: 16px;
    background: url("../images/mainText/icon-share.png") center no-repeat;
    background-size: 100%;
    vertical-align: middle;
}
.bm-btn-group .bm-btn span {
    vertical-align: middle;
    display: inline-block;
}
.bm-btn-group .mg-r-15 {
    margin-right: 15px;
}
.bm-xs-center {
    text-align: center;
    margin-bottom: 18px;
}
.bm-btn-share {
    position: relative;
}
.bm-btn-share .share-list {
    display: none;
    width: 100%;
    background: #fff;
    padding: 8px 0;
    border-radius: 4px;
    text-align: center;
    position: absolute;
    top: -138px;
    left: 0;
    z-index: 99;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.35);
}
.bm-btn-share .share-list:before {
    content: '';
    display: block;
    position: absolute;
    bottom: -5px;
    left: 16px;
    width: 10px;
    height: 10px;
    background: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.35);
}
.bm-btn-share .share-list:after {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 8px;
    width: 22px;
    height: 8px;
    background: #fff;
}

.bm-btn-share .share-list a {
    display: block;
    padding: 6px 0;
    color: #9933FF;
}
.bm-btn-share .share-list a:hover {
    background: rgba(0, 0, 0, 0.1);
}
.bm-btn-share .share-list a i,
.bm-btn-share .share-list a span {
    display: inline-block;
    font-size: 13px;
    vertical-align: middle;
}
.bm-btn-share .share-list a i {
    width: 24px;
    height: 24px;
    margin-right: 5px;
    border-radius: 3px;
    background: #9933FF center no-repeat;
    background-size: 78%;
}
.bm-btn-share .share-list a .icon-weibo {
    background-image: url("../images/mainText/icon-weibo.png");
}
.bm-btn-share .share-list a .icon-qqzone {
    background-image: url("../images/mainText/icon-qqzone.png");
}
.bm-btn-share .share-list a .icon-ren {
    background-image: url("../images/mainText/icon-renren.png");
}
.bm-btn-share .share-list.active {
    display: block;
}



@media (min-width: 768px) {
    .bm-title {
        margin: 40px 0 30px;
        padding: 0;
    }
    .bm-title h2 {
        font-size: 20px;
    }
    .bm-cont {
        padding: 0;
    }
    .bm-cont p {
        line-height: 30px;
        font-size: 16px;
        padding: 0;
        margin-bottom: 40px;
    }
    .bm-cont p img {
        display: block;
        margin: 10px auto;
        width: auto;
    }

    .bm-btn-group {
        padding: 0;
    }
    .bm-btg-left {
        margin-top: 8px;
    }
}