<!-- <footer id="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="outer">
    <div id="footer-info" class="inner">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %><br>
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
    </div>
  </div>
</footer> -->
<footer id="colophon" class="site-footer" role="contentinfo">
  <div class="site-info">
    <div class="footertext">
      <div class="img-preload">
        <img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/wordpress-rotating-ball-o.svg">
        <img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.9/img/Sakura/images/disqus-preloader.svg">
      </div>
      <p style="color: #666666;">© 2018</p>
    </div>
    <div class="footer-device">
    <p style="font-family: 'Ubuntu', sans-serif;">
        <span style="color: #b9b9b9;">
                      Theme <a href="https://2heng.xin/theme-sakura/" target="_blank" style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">Sakura</a> <i class="iconfont icon-sakura rotating" style="color: #ffc0cb;display:inline-block"></i> by <a href="https://2heng.xin/" target="_blank" style="color: #b9b9b9;;text-decoration: underline dotted rgba(0, 0, 0, .1);">Mashiro</a>
        </span>
      </p>
    </div>
  </div><!-- .site-info -->
</footer>
<script type='text/javascript'>
var HermitX ={"ajaxurl":"https://2heng.xin/wp-admin/admin-ajax.php","version":"2.8.0"};</script>
<script type="text/javascript">
/* <![CDATA[ */
var Poi = {"pjax":"","movies":{"url":"https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.3","name":"The Pet Girl of Sakurasou","live":"open"},"windowheight":"auto","codelamp":"close","ajaxurl":"","order":"asc","formpostion":"bottom"};
/* ]]> */
</script>

<script type="text/javascript" src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.4.5/js/lib.min.js?ver=3.0.7"></script>
<script type="text/javascript" src="http://127.0.0.1/wordpress/wp-content/themes/Sakura/js/sakura-app.js?ver=3.0.7"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/moezx/cdn@3.4.5/css/lib.min.css" media="all">
<link rel="stylesheet" href="https://at.alicdn.com/t/font_679578_qyt5qzzavdo39pb9.css" media="all">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/aplayer@1.10.1/dist/APlayer.min.css" media="all">
<!-- <script type="text/javascript" src="https://2heng.xin/wp-content/cache/autoptimize/js/autoptimize_67e24dd764fc49450e090002abca5761.js"></script> -->