<div id="mo-nav" class="">
  <div class="m-avatar">
    <img src="https://static.mashiro.top/avatar.jpg">
  </div>
  <p style="text-align: center; color: #333; font-weight: 900; font-family: 'Ubuntu', sans-serif; letter-spacing: 1.5px">
  Mashiro Sama...</p>
  <p style="text-align: center; word-spacing: 20px;">
    <a href="http://twitter.com/2hengxin" class="fa fa-twitter" target="_blank" style="color: #00aced">
    </a>
    <a href="http://weibo.com/2960337711" class="fa fa-weibo" target="_blank" style="color: #dd4b39">
    </a>
    <a href="http://github.com/mashirozx" class="fa fa-github" target="_blank" style="color: #333">
    </a>
    <a onclick="mail_me()" class="fa fa-envelope" style="color: #ffbf00">
    </a>
  </p>
  <ul id="menu-new-1" class="menu">
    <li class="current-menu-item">
      <a href="/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-fort-awesome faa-horizontal" aria-hidden="true">
          </i>
        首页</span>
      </a>
    </li>
    <li>
      <a href="/time-series/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-archive faa-shake" aria-hidden="true">
          </i>
        归档</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="https://2heng.xin/archives/hacking/">
            <i class="fa fa-terminal" aria-hidden="true">
            </i>
          极客</a>
        </li>
        <li>
          <a href="https://2heng.xin/archives/article/">
            <i class="fa fa-file-text-o" aria-hidden="true">
            </i>
          文章</a>
        </li>
        <li>
          <a href="https://2heng.xin/archives/review/">
            <i class="fa fa-quote-right" aria-hidden="true">
            </i>
          影评</a>
        </li>
        <li>
          <a href="https://2heng.xin/archives/thingking/">
            <i class="fa fa-commenting-o" aria-hidden="true">
            </i>
          随想</a>
        </li>
        <li>
          <a target="_blank" href="https://mashiro.top/">
            <i class="fa fa-book" aria-hidden="true">
            </i>
          笔记</a>
        </li>
      </ul>
    </li>
    <li>
      <a>
        <span class="faa-parent animated-hover">
          <i class="fa fa-list-ul faa-vertical" aria-hidden="true">
          </i>
        清单</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="https://2heng.xin/book-list/">
            <i class="fa fa-th-list faa-bounce" aria-hidden="true">
            </i>
          书单</a>
        </li>
        <li>
          <a href="https://2heng.xin/bangumi/">
            <i class="fa fa-film faa-vertical" aria-hidden="true">
            </i>
          番组</a>
        </li>
        <li>
          <a href="https://2heng.xin/music/">
            <i class="fa fa-headphones" aria-hidden="true">
            </i>
          歌单</a>
        </li>
        <li>
          <a href="https://2heng.xin/hearthstone-deck-index/">
            <i class="iconfont icon-Hearthstone" aria-hidden="true">
            </i>
          卡组</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://2heng.xin/comment/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-pencil-square-o  faa-tada" aria-hidden="true">
          </i>
        留言板</span>
      </a>
    </li>
    <li>
      <a href="https://2heng.xin/friends/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-link faa-shake" aria-hidden="true">
          </i>
        友人帐</span>
      </a>
    </li>
    <li>
      <a href="https://2heng.xin/donate/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-heart faa-pulse" aria-hidden="true">
          </i>
        赞赏</span>
      </a>
    </li>
    <li>
      <a href="#">
        <span class="faa-parent animated-hover">
          <i class="fa fa-leaf faa-wrench" aria-hidden="true">
          </i>
        关于</span>
      </a>
      <ul class="sub-menu">
        <li>
          <a href="https://2heng.xin/about/">
            <i class="fa fa-meetup" aria-hidden="true">
            </i>
          我？</a>
        </li>
        <li>
          <a href="https://2heng.xin/analytics/">
            <i class="fa fa-area-chart" aria-hidden="true">
            </i>
          统计</a>
        </li>
        <li>
          <a href="https://2heng.xin/server-status/">
            <i class="fa fa-heartbeat" aria-hidden="true">
            </i>
          监控</a>
        </li>
        <li>
          <a href="https://2heng.xin/theme-sakura/">
            <i class="iconfont icon-sakura" aria-hidden="true">
            </i>
          主题</a>
        </li>
        <li>
          <a target="_blank" href="https://2heng.xin/sitemap_index.xml">
            <i class="fa fa-map-signs" aria-hidden="true">
            </i>
          索引</a>
        </li>
      </ul>
    </li>
    <li>
      <a href="https://2heng.xin/client/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-android faa-vertical" aria-hidden="true">
          </i>
        客户端</span>
      </a>
    </li>
    <li>
      <a target="_blank" href="https://feed.2heng.xin/">
        <span class="faa-parent animated-hover">
          <i class="fa fa-rss faa-pulse" aria-hidden="true">
          </i>
          <span style="letter-spacing: 1px">
          </span>
        RSS</span>
      </a>
    </li>
  </ul>
  <p style="text-align: center; font-size: 13px; color: #b9b9b9;">
  © 2018 樱花庄的白猫</p>
</div>