<div class="top-feature-row">
  <h1 class="fes-title" style="font-family: 'Ubuntu', sans-serif;">
  <i class="fa fa-anchor" aria-hidden="true">
  </i>
  START:DASH!!</h1>
  <div class="top-feature-v2">
    <div class="the-feature square from_left_and_right">
      <a href="/theme-sakura/" target="_blank">
        <div class="img">
          <img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.3.2/img/other/sakura.md.png">
        </div>
        <div class="info">
          <h3>
          Sakura</h3>
          <p>
          本站 hexo 主题</p>
        </div>
      </a>
    </div>
  </div>
  <div class="top-feature-v2">
    <div class="the-feature square from_left_and_right">
      <a href="/2017/09/19/pixiv/" target="_blank">
        <div class="img">
          <img src="https://cdn.jsdelivr.net/gh/moezx/cdn@3.1.6/img/other/th%20(3).jpg">
        </div>
        <div class="info">
          <h3>
          Bilibili</h3>
          <p>
          博主的b站视频</p>
        </div>
      </a>
    </div>
  </div>
  <div class="top-feature-v2">
    <div class="the-feature square from_left_and_right">
      <a href="/hearthstone-deck-index/" target="_blank">
        <div class="img">
          <img src="https://view.moezx.cc/images/2018/12/23/Nemsy-Necrofizzle-Large.md.jpg">
        </div>
        <div class="info">
          <h3>
          Hexo</h3>
          <p>
          搭建教程</p>
        </div>
      </a>
    </div>
  </div>
</div>